body {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: italic 12px "Arial", Arial, sans-serif;
  color: rgba(5, 5, 5, .8);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  top: 0; 
  left: 0; 
  
  /* Talvez funcione apenas no mobile */
  /*background: -webkit-linear-gradient(163.81079374297306deg, #ad9625 0, #476eb6 100% !important) ; /* Chrome 10+, Saf5.1+ 
  background:    -moz-linear-gradient(163.81079374297306deg, #ad9625 0, #476eb6 100% !important) ; /* FF3.6 
  background:     -ms-linear-gradient(163.81079374297306deg, #ad9625 0, #476eb6 100% !important) ; /* IE10 
  background:      -o-linear-gradient(163.81079374297306deg, #ad9625 0, #476eb6 100% !important) ; /* Opera 11.10+ 
  background:         linear-gradient(163.81079374297306deg, #ad9625 0, #476eb6 100% !important) ; 
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ad9625), color-stop(100%, #476eb6)) !important;
  background: rgba(173,150,37,1);*/
  
  background: url("../images/background-browser.png") no-repeat center center fixed !important;
  background: -moz-linear-gradient(163.81079374297306deg, rgba(173,150,37,1) 0%, rgba(71,110,182,1) 100%) !important;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(173,150,37,1)), color-stop(100%, rgba(71,110,182,1))) !important;
  background: -webkit-linear-gradient(163.81079374297306deg, rgba(173,150,37,1) 0%, rgba(71,110,182,1) 100%) !important;
  background: -o-linear-gradient(163.81079374297306deg, rgba(173,150,37,1) 0%, rgba(71,110,182,1) 100%) !important;
  background: -ms-linear-gradient(163.81079374297306deg, rgba(173,150,37,1) 0%, rgba(71,110,182,1) 100%) !important;
  background: linear-gradient(163.81079374297306deg, rgba(173,150,37,1) 0%, rgba(71,110,182,1) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad9625', endColorstr='#476eb6', GradientType=1 ) !important;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

.eid-user-name {
  border-top: 1px solid rgba(255, 255, 255, .7);
  border-bottom: 1px solid rgba(255, 255, 255, .7);
  font: 18px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
  display: table-row;
  align: center;
  background: url("../images/background-browser.png") no-repeat center center fixed !important;
  background: -moz-linear-gradient(163.81079374297306deg, rgba(71,110,182,1) 0%, rgba(173,150,37,1) 100%) !important;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(71,110,182,1)), color-stop(100%, rgba(173,150,37,1))) !important;
  background: -webkit-linear-gradient(163.81079374297306deg, rgba(71,110,182,1) 0%, rgba(173,150,37,1) 100%) !important;
  background: -o-linear-gradient(163.81079374297306deg, rgba(71,110,182,1) 0%, rgba(173,150,37,1) 100%) !important;
  background: -ms-linear-gradient(163.81079374297306deg, rgba(71,110,182,1) 0%, rgba(173,150,37,1) 100%) !important;
  background: linear-gradient(163.81079374297306deg, rgba(71,110,182,1) 0%, rgba(173,150,37,1) 100%) !important;
}