.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  min-height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-brand.anchor{
  font: normal 10px "Arial", Arial, sans-serif !important;
  padding: 15px 5px 0px 5px;
}

.navbar-brand.anchor:hover {
  color: rgb(255, 255, 255);
  background: rgba(40, 40, 40, .4);
}

.navbar-brand.anchor:active {
  color: rgb(255, 255, 255);
  background: rgba(40, 40, 40, .4);
}

.navbar-right {
  display: none;
  width: 0;
  height: 0;
}

/* Custom page header */
.header {
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.header a {
  cursor: pointer;
  font: bold italic 21px  "Arial", Arial, sans-serif;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.header-group {
  width: 100%;
  height: 50px;
}

.header-mobile {
  display: block;
}

.input-group-eid {
  margin-top: 8px;
  margin-bottom: 8px;
  width: auto;
}

/* Custom page footer */
.footer {
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-top: 19px;
  padding-bottom: 19px;
  background: rgba(255, 255, 255, .2);
}

.footer:hover {
  background: rgba(40, 40, 40, .2);
}

.footer:active {
  background: rgba(40, 40, 40, .2);
}

.footer div {
  width: 200px;
  align: center;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
}

.footer a {
  color: rgb(255, 255, 255);
  font: italic 18px "Arial", Arial, sans-serif;
  cursor: pointer;
  text-decoration: none;
}

.footer a:hover {
  background: rgba(40, 40, 40, .2);
  z-index: 1;
}

.footer a:active {
  background: rgba(40, 40, 40, .2);
  z-index: 1;
}

.footer img {
  max-width: 30px;
  max-height: 30px;
}

.footer span {
  margin-left: 10px;
  z-index: -1
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background: transparent;
}

.jumbotron.login {
  margin-top: 10%;
}

.form-control.form-container {
  margin-top: 20px;
  background: transparent;
  border: none;
  box-shadow: none;
  height:auto;
}

.form-control.form-input {
  height: 45px;
  background: transparent;
  border-radius: 0 15px 15px 0 !important;
  -moz-border-left-radius: 0 15px 15px 0 !important;
  -webkit-border-left-radius: 0 15px 15px 0 !important;
  box-shadow: inset 0 0 0 0 rgba(170, 113, 114, .075);
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  border-right: 2px solid rgba(255, 255, 255, .5);
  border-left: 0;
  color: #FFFFFF;
  overflow: hidden;
  width: 100%;
}

.span-input {
  display: block;
  overflow: hidden;
}

.input-group.input-group-lg.input {
  margin-top: 20px; 
  height: 45px;
  width: 100%;
}

.input-group.input-group-lg.info-container h4 {
  margin-left: 10%;
  margin-right: 10%;
  color: rgba(20, 20, 20, .7);
  font: bold italic 21px  "Arial", Arial, sans-serif;
}

.input-group.input-group-lg.input-minor {
  margin-top: 10px; 
  height: 45px;
  width: 100%;
}

.input-group.input-group-lg.info-container {
  min-width: 200px !important;
  border-radius: 15px !important;
  -moz-border-left-radius: 15px !important;
  -webkit-border-left-radius: 15px !important;
  margin-top: 20px; 
  height: 45px;
  width: 100%;
  text-align: center;
  background: rgba(249, 186, 178, .8);
}

.label {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: rgba(0, 0, 0, .5);
  text-align: center;
  background-color: transparent;
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  border-left: 2px solid rgba(255, 255, 255, .5);
  border-radius: 15px 0 0 15px !important;
  -moz-border-left-radius: 15px 0 0 15px !important;
  -webkit-border-left-radius: 15px 0 0 15px !important;
  max-width: 80px;
  min-width: 80px;
  width: 80px !important;
  height: 45px !important;
  text-transform: uppercase;
  float: left;
}

.btn-ok {
  margin-left: -50px;
  margin-right: 10px;
  color: #FFFFFF;
  width: 42px;
  text-align: left;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background: rgba(205, 205, 205, .3);
  font: italic bold 16px "Arial", Arial, sans-serif;
  height: 43px;
  line-height: 0;
  position: absolute;
  z-index: 999;
}

.btn-conta {
  color: #4e4b7c;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: rgba(255, 255, 255, .5);
  font: normal bold 21px "Arial", Arial, sans-serif;
  height: 45px;
  line-height: 0;
}

.btn-conta:hover {
  color: #26235d;
  background: rgba(215, 215, 215, .5);
}

.link {
  cursor: pointer;
  color: rgba(255, 255, 255, .5);
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  font: italic bold 14px "Arial", Arial, sans-serif;
  text-transform: uppercase;
}

.no-avatar-img {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  min-width: 150px;
  width: 150px;
  height: 160px;
  float: left;
}

.no-avatar {
  width: auto;
  min-width: auto;
  margin-left: auto;
  margin-right: auto;
  min-height: 160px;
  max-height: 160px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  opacity: .9;
}

.no-avatar.msg {
  min-width: 100px;
  width: 100px;
  height: 10px;
  margin-left: -123px;
  margin-top: 70px;
  color: rgba(5, 5, 5, .7);
  font: italic normal 15px "Arial", Arial, sans-serif;
  float: left;
}

.no-avatar.avatar {
  min-width: 110px;
  width: 110px;
  min-height: 110px;
  height: 110px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin-left: -129px;
  margin-top: 10px;
  z-index: -1;
  float: left;
}

.info {
  min-width: 177px;
  color: rgba(255, 255, 255, .9);
  font: italic normal 16px "Arial", Arial, sans-serif;
}

.link:hover {
  cursor: pointer;
  color: rgba(205, 205, 205, .5);
  text-decoration: none;
  border-bottom: 1px solid rgba(215, 215, 215, .5);
}

.logininput::-webkit-input-placeholder { 
  color: rgba(0, 0, 0 .9);
  font: italic bold 16px "Arial", Arial, sans-serif;
  text-transform: uppercase;
  line-height: 31px;
}

.logininput::-moz-placeholder { 
  color: rgba(0, 0, 0, .9);
  font: italic bold 16px "Arial", Arial, sans-serif;
  text-transform: uppercase;
  line-height: 31px;
} /* firefox 19+ */

.logininput:-ms-input-placeholder { 
  color: rgba(0, 0, 0, .9); 
  font: italic bold 16px "Arial", Arial, sans-serif;
  text-transform: uppercase;
  line-height: 31px;
} /* ie */

.logininput:-moz-placeholder { 
  color: rgba(0, 0, 0, .9); 
  font: italic bold 16px "Arial", Arial, sans-serif;
  text-transform: uppercase;
  line-height: 31px;
}

.login.subtitle {
  opacity: 0.3;
  filter: alpha(opacity=70); /* For IE8 and earlier */
  color: #FFFFFF !important;
  word-spacing: 15px;
  letter-spacing: 11px;
  font: bold 10px/1 "Arial", Arial, sans-serif;
}

.logo {
  margin-left: 15%;
  margin-right: 15%;
  max-width: 406px !important;
  max-height: 132.95px !important;
}

.avatar {
  margin-left: auto;
  margin-right: auto;
  max-width: 406px !important;
  max-height: 200px !important;
}

/* Home View */
.eid-usuario-container {
  text-align: center;
  min-width: 200px;
  max-height: 200px;
  width: 100%;
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px ;
  font-style: normal;
  color: rgba(255, 255, 255, .8);
  background: rgba(5, 5, 5, .2) ;
}

.eid-usuario {
  min-width: 242px;
  max-height: 80px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.eid-usuario-nome {
  height: auto;
  min-width: 242px;
  width: 100%;
  vertical-align: middle;
}

.eid-label {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  vertical-align: middle;
  display: inline-block;
  background: rgba(50, 50, 50, .5);
  color: -webkit-linear-gradient(163.81079374297306deg, #476eb6 0, #ad9625 100% !important) ; /* Chrome 10+, Saf5.1+ */
  color:    -moz-linear-gradient(163.81079374297306deg, #476eb6 0, #ad9625 100% !important) ; /* FF3.6 */
  color:     -ms-linear-gradient(163.81079374297306deg, #476eb6 0, #ad9625 100% !important) ; /* IE10 */
  color:      -o-linear-gradient(163.81079374297306deg, #476eb6 0, #ad9625 100% !important) ; /* Opera 11.10+ */
  color:         linear-gradient(163.81079374297306deg, #476eb6 0, #ad9625 100% !important) ;
  font: bold italic 20px "Arial", Arial, sans-serif;
}

.eid-numero {
  margin-left: 10px;
  margin-right: 50px;
  vertical-align: middle;
  background: transparent;
  color: rgba(50, 50, 50, .6);
  font: bold normal 70px "Arial", Arial, sans-serif;
}

.eid-opcao-container {
  margin-top: 1px;
  width: 100%;
  font-size: 20px ;
  font-style: normal;
  height: 50px;
  color: rgba(255, 255, 255, .8);
  background: rgba(5, 5, 5, .2) ;
}

.eid-opcao-container a {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font: normal 22px "Arial", Arial, sans-serif;
}

.eid-opcao-container:hover {
  background: rgba(55, 55, 55, .2) ;
  color: rgb(205, 205, 205);
}

.eid-opcao-container:active {
  background: rgba(55, 55, 55, .2) ;
  color: rgb(205, 205, 205);
}

.eid-opcao-container img {
  margin-left: 20px;
  margin-top: 15px;
  width: 20px;
  height: 20px;
  float: left;
}

.eid-opcao-container span {
  margin-top: 10px;
  margin-left: 20px;
  float: left;
}

.eid-user-info {
  background: transparent;
  margin-top: 10px;
  color: rgba(240, 240, 240, .5);
  align: center;
  width: 100%;
  height: 80px;
}

.eid-user-info h1 {
  font: italic 20px "Arial", Arial, sans-serif;
}

.eid-user-info div {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgba(40, 40, 40, .8);
  background: rgb(255, 255, 255);
  font: italic 22px "Arial", Arial, sans-serif;
}
/* Home View */

/* Acessos View */
.eid-acessos {
  color: rgba(255, 255, 255, .8);
  text-align: left;
  font: normal 12px "Arial", Arial, sans-serif;
}

.eid-acessos p {
  font: bold 12px "Arial", Arial, sans-serif;
  text-align: center;
  padding-bottom: 10px;
}

.eid-acessos hr {
  border-top: 1px solid rgba(255, 255, 255, .3);
  width: 100%;
  display: table-caption;
}

.eid-acessos h1 {
  font: normal 26px "Arial", Arial, sans-serif;
  margin-top: 0;
  text-align: center;
}

.eid-acessos div {
  display: table;
  min-width: 200px;
  width: 100%;
}

.eid-acessos div div {
  display: table-row;
  min-width: 200px;
  width: 100%;
}

.eid-acessos span {
  display: table-cell;
}

.eid-acessos label img {
  width: 20px;
  height: 20px;
  opacity: .6;
  cursor: default;
}

.eid-acessos img {
  cursor: pointer;
}

.eid-acessos-footer {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
}

.eid-acessos-footer-voltar {
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  float: left;
  background-color: rgba(5, 5, 5, .2);
}

.eid-acessos-footer img {
  margin-top: 5px;
  max-width: 30px; 
  max-height: 30px; 
  min-width: 30px; 
  min-height: 30px; 
}

.eid-acessos-footer-adicionar {
  min-width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(10, 10, 10, .2);
}

.form-control.form-input.form-input-acesso {
  border-radius: 15px !important;
  -moz-border-left-radius: 15px !important;
  -webkit-border-left-radius: 15px !important;
  border: 2px solid rgba(40, 40, 40, .3);
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 5px;
}

.container ul {
  font: normal 14px !important;
}

.eid-user-name h1 {
  display: table-cell;
  width: 100%;
}

.eid-user-name span {
  display: table-cell;
  align: right;
}

.eid-acessos-info {
  font: bold 20px "Arial", Arial, sans-serif;
  color: rgba(240, 240, 240, .5);
  text-align: center;
}

/* Acessos View */

/* Usuarios View */

.eid-usuarios {
  color: rgba(255, 255, 255, .8);
  text-align: left;
  font: normal 12px "Arial", Arial, sans-serif;
}

.eid-usuarios hr {
  border-top: 1px solid rgba(255, 255, 255, .3);
  width: 100%;
  display: table-caption;
}

.eid-usuarios h1 {
  font: normal 26px "Arial", Arial, sans-serif;
  margin-top: 0;
  text-align: center;
}

.eid-usuarios div {
  display: table;
  min-width: 200px;
  width: 100%;
}

.eid-usuarios div div {
  display: table-row;
  min-width: 200px;
  width: 100%;
}

.eid-usuarios span {
  display: table-cell;
}

.eid-usuarios img {
  cursor: pointer;
}

/* Usuarios View */

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  
  .container {
    max-width: 730px;
  }
  
  .navbar-right {
    display: table;
    width: auto;
    height: auto;
  }
  
  .navbar-brand.anchor {
    display: none;
	  width: 0;
	  height: 0;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  .header-mobile {
    display: none;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  
}
