<footer class="footer" ng-show="isShowFooter()">
    <a ng-href="#/acessos?flSituacao=C" ng-show="isShowMeusAcessos()">
        <div>
            <img ng-src="images/eid-acesso-icon.png" alt="Acesso-Icon"/>
            <span>meus acessos</span>
        </div>
    </a>
    <div class="eid-acessos-footer" ng-show="isShowFooter()">
        <a class="eid-acessos-footer-voltar" ng-href="#/home">
            <img ng-src="images/eid-voltar-icon.png"/>
        </a>
        <div class="eid-acessos-footer-adicionar" ng-show="isShowAcessos()">
            <a ng-href="#/acesso/new">
                <img ng-src="images/eid-adicionar-icon.png" />
                <span>{{isCordovaApp ? 'solicitar' : 'adicionar'}} acesso</span>
            </a>
        </div>
        <div class="eid-acessos-footer-adicionar" ng-show="isShowEid()">
            <a ng-href="#/pessoa/new">
                <img ng-src="images/eid-adicionar-icon.png" />
                <span>adicionar e-id</span>
            </a>
        </div>
    </div>
</footer>