<div class="header" ng-show="isUsuarioLogado()">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                    <span class="sr-only">Click para navega&ccedil;&atilde;o</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>   
                <div ng-show="isShowAcessos()">
                    <a class="navbar-brand anchor active" ng-href="#/acessos?flSituacao=C">Confirmados</a>
                    <a class="navbar-brand anchor" ng-href="#/acessos?flSituacao=P">Pendentes</a>
                    <a class="navbar-brand anchor" ng-href="#/acessos?flSituacao=N">Negados</a>
                </div>
                <div class="header-group header-mobile" ng-show="isShowEid()">
                    <div class="input-group input-group-eid">
                        <input type="text" class="form-control" ng-model="busca.criterio" ng-model-options="{updateOn: 'default', debounce: 500}" placeholder="localizar e-id" aria-describedby="basic-addon1">
                        <div class="input-group-btn"> 
                            <button type="button" class="btn btn-default" aria-label="Help">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" 
                           data-toggle="dropdown" role="button" 
                           aria-haspopup="true" aria-expanded="false">E-Id<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="#/home">Home</a></li>
                            <li><a ng-href="#/perfil/{{usuario.nuEid}}">Perfil</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ng-click="logout()">Sair</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="isShowAcessos()">
                    <li class="active"><a ng-href="#/acessos?flSituacao=C">Confirmados</a></li>
                    <li><a ng-href="#/acessos?flSituacao=P">Pendentes</a></li>
                    <li><a ng-href="#/acessos?flSituacao=N">Negados</a></li>
                </ul>
                <div class="header-group" ng-show="isShowEid()">
                    <div class="input-group input-group-eid">
                        <input type="text" class="form-control" ng-model="busca.criterio" ng-model-options="{updateOn: 'default', debounce: 500}" placeholder="localizar e-id" aria-describedby="basic-addon1">
                        <div class="input-group-btn"> 
                            <button type="button" class="btn btn-default" aria-label="Help">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>