<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width" >
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <link rel="stylesheet" href="bower_components/jqueryui/themes/vader/jquery-ui.min.css" />
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lte IE 8]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div ng-controller="LoginCtrl">
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" type="text/css" href="styles/background-{{isCordovaApp ? 'mobile' : 'browser'}}.css">
        <!-- endbuild -->

        <div ng-include="'views/templates/header.html'"></div>

        <div class="container">
            <div ng-view=""></div>
        </div>

        <div ng-include="'views/templates/footer.html'"></div>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        !function (A, n, g, u, l, a, r) {
            A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = +new Date, a = n.createElement(g),
                    r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
        }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>

    <script src="cordova.js"></script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/jqueryui/jquery-ui.js"></script>
    <script src="bower_components/primeui/primeui.js"></script>
    <script src="bower_components/angular-ui-mask/dist/mask.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config/constant.js"></script>
    <script src="scripts/config/route.js"></script>
    <script src="scripts/utils/cordovautils.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/perfil.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/services/localfileservice.js"></script>
    <script src="scripts/services/pessoaservice.js"></script>
    <script src="scripts/controllers/acesso.js"></script>
    <script src="scripts/services/acessoservice.js"></script>
    <script src="scripts/filters/nomefilter.js"></script>
    <script src="scripts/filters/horafilter.js"></script>
    <script src="scripts/directives/datepicker.js"></script>
    <script src="scripts/controllers/pessoa.js"></script>
    <script src="scripts/directives/eiddata.js"></script>
    <script src="scripts/controllers/acessohistorico.js"></script>
    <script src="scripts/services/loginservice.js"></script>
    <!-- endbuild -->
</body>
</html>
