<!doctype html> <html> <head> <meta charset="utf-8"> <title></title> <meta name="description" content=""> <meta name="viewport" content="width=device-width"> <!-- Place favicon.ico and apple-touch-icon.png in the root directory --> <link rel="stylesheet" href="styles/vendor.0236d108.css"> <link rel="stylesheet" href="styles/main.7078234c.css"> </head> <body> <!--[if lte IE 8]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]--> <div ng-controller="LoginCtrl"> <link rel="stylesheet" type="text/css" href="styles/main-user.css" ng-if="isCordovaApp"> <div ng-include="'views/templates/header.html'"></div> <div class="container"> <div ng-view=""></div> </div> <div ng-include="'views/templates/footer.html'"></div> </div> <!-- Google Analytics: change UA-XXXXX-X to be your site's ID --> <script>!function (A, n, g, u, l, a, r) {
            A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = +new Date, a = n.createElement(g),
                    r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
        }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');</script> <script src="cordova.js"></script> <script src="scripts/vendor.7fe39498.js"></script> <script src="scripts/scripts.7dcf26b4.js"></script> </body> </html>