<div ng-controller="AcessoCtrl" class="jumbotron">
	<form name="acessoForm" ng-model-options="{updateOn: 'blur'}" ng-submit="salvarAcesso()" class="eid-acessos" novalidate>
		<h1>Adicionar acesso</h1>
		<hr/>
		<div class="alert alert-success alert-dismissible" ng-show="msgSucesso">
			<button type="button" class="close" ng-click="fechaMsgSucesso()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Sucesso!</strong> {{msgSucesso}}.
		</div>
		<div class="alert alert-error alert-dismissible" ng-show="msgErro">
			<button type="button" class="close" ng-click="fechaMsgErro()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Erro!</strong> {{msgErro}}.
		</div>
		<div class="alert alert-warning alert-dismissible" role="alert" ng-show="acessoForm.nuEid.$error.required && acessoForm.nuEid.$dirty">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Aviso!</strong> O campo e-id é obrigat&oacute;rio.
		</div>
		<div class="alert alert-warning alert-dismissible" role="alert" ng-show="acessoForm.dtAcesso.$error.required && acessoForm.dtAcesso.$dirty">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Aviso!</strong> O campo data é obrigat&oacute;rio.
		</div>
		<div class="alert alert-warning alert-dismissible" role="alert" ng-show="acessoForm.hrEntrada.$error.required && acessoForm.hrEntrada.$dirty">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Aviso!</strong> O campo hora é obrigat&oacute;rio.
		</div>
		<div class="alert alert-warning alert-dismissible" role="alert" ng-show="acessoForm.hrEntrada.$error.pattern">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Aviso!</strong> O formato da hora deve ser de no m&aacute;ximo 23:59.
		</div>
		<div class="eid-acessos-div">
			<p>
				Adicione uma libera&ccedil;&atilde;o de acesso,<br>
				para isso digite o e-id, dia e hora<br>
				abaixo.
			</p>
			<div class="form-group eid-acessos-div-group eid-user-name" ng-show="acesso.usuario.nmUsuario" >
				<h1 ng-bind="acesso.usuario.nmUsuario"></h1>
				<span><img ng-src="images/eid-deletar.png" alt="Deletar" ng-click="reiniciarUsuario()"/></span>
				<input type="password" maxlength="10" style="display: none; width: 0px; height: 0px;" ng-required="true" class="form-control form-input form-input-acesso" name="nuEid" id="nuEid" ng-model="acesso.usuario.eid.nuEid">
			</div>
			<div class="form-group eid-acessos-div-group">
  				<label for="nuEid"><img ng-src="images/eid-eid-icon.png"/> digite o e-id</label>
  				<input type="password" maxlength="10" ng-change="encontraUsuario()" ng-required="true" class="form-control form-input form-input-acesso" name="nuEid" id="nuEid" ng-model="acesso.usuario.eid.nuEid">
			</div>
			<div class="form-group eid-acessos-div-group">
			  <label for="dtAcesso"><img ng-src="images/eid-data-icon.png"/> digite o dia</label>
			  <input type="text" eiddata ui-mask="{{dataMask}}" placeholder="dd/mm/aa" class="form-control form-input form-input-acesso" ng-required="true" name="dtAcesso" id="dtAcesso" ng-model="acesso.dtAcesso">
			</div>
			<div class="form-group eid-acessos-div-group">
			  <label for="hrEntrada"><img ng-src="images/eid-hora-icon.png"/> digite o hor&aacute;rio</label>
			  <input class="form-control form-input form-input-acesso" placeholder="hh:mm" ng-required="true" ui-mask="{{horaMask}}" ng-pattern="horaValidateRegex" name="hrEntrada" id="hrEntrada" ng-model="acesso.hrEntrada">
			</div>
			<div class="form-group eid-acessos-div-group">
				<input type="submit" ng-disabled="acessoForm.$invalid" class="form-control btn btn-block btn-conta" ng-click="salvarAcesso()" value="{{getNomeBtnSalvar()}}"/>
			</div>
		</div>
	</form>
</div>
