<div ng-controller="AcessoCtrl" class="jumbotron">
	<form name="acessosForm" class="eid-acessos" ng-model-options="{ getterSetter: true }" novalidate>
		<h1 ng-show="!mostraInfoSemAcessos()">Acessos</h1>
		<br>
		<div ng-repeat="acesso in acessos" ng-show="{{!isCordovaApp}}">
			<hr>
			<div>
				<span ng-bind="acesso.hrEntrada | horafilter"></span>
				<span ng-bind="acesso.usuario.nmUsuario | nomefilter: 0: 20"></span>
				<span>
					<a ng-href="#/acesso/{{acesso.cdAcesso}}">
						<img src="images/eid-editar.png" title="Editar" alt="Editar"/>
					</a>
					<a ng-click="deletarAcesso(acesso)">
						<img src="images/eid-deletar.png" title="Deletar" alt="Deletar"/>
					</a>
				</span>
			</div>
			<div>
				<span style="font-weight: bolder" ng-bind="acesso.dtAcesso | date:'dd/MM'"></span>
				<span>e-id {{acesso.usuario.eid.nuEid}}</span>
			</div>
		</div>
		<div ng-show="mostraInfoSemAcessos()">
			<div class="eid-acessos-info">
				<p>
					Voc&ecirc; ainda n&atilde;o possui
					<br>
					<br>
					nenhum acesso.
					<br>
					<br>
					Aguarde para mudar
					<br>
					<br>
					sua forma de ir e vir
					<br>
					<br>
					dos lugares.
					<br>
					<br>
					Com o e-id voc&ecirc;
					<br>
					<br>
					vai ter muito mais liberdade
					<br>
					<br>
					e agilidade.
				</p>
			</div>
		</div>
		<hr>
	</form>
</div>