<div ng-controller="HomeCtrl" class="jumbotron">
	<div class="avatar" style="height: 160px;">
		<label class="no-avatar" ng-show="pessoa.deAvatar">
			<img class="no-avatar-img" ng-src="images/user-avatar-overlap.png" />
			<img class="no-avatar avatar" src="{{getEidImagem()}}" alt="Avatar"/>
		</label>
		<label class="no-avatar" ng-show="!pessoa.deAvatar">
			<img class="no-avatar-img" ng-src="images/avatar-overlap.png" />
			<div class="no-avatar msg">N&atilde;o h&aacute; foto</div>
		</label>
	</div>
	<div class="eid-usuario-container">
		<div class="eid-usuario-nome" ng-show="!isCordovaApp">
			{{pessoa.nmUsuario}}
		</div>
		<div class="eid-usuario">
			<span class="eid-label">
				e-id
			</span>
			<span class="eid-numero" style="font-size: {{nuEidSize()}}px">
				{{pessoa.eid.nuEid}}
			</span>
		</div>
	</div>
	<div ng-show="!isCordovaApp">
		<div class="eid-opcao-container" >
			<a href="#/pessoas">
				<img alt="Icon" ng-src="images/eid-icon-opcao.png" />
				<span>
					E-ids
				</span>
			</a>
		</div>
		<div class="eid-opcao-container">
			<a href="#/acessos?flSituacao=C">
				<img alt="Icon" ng-src="images/eid-icon-opcao.png" />
				<span>
					Acessos
				</span>
			</a>
		</div>
	</div>
	<div  class="eid-user-info" ng-show="isCordovaApp">
		<h1>{{pessoa.nmUsuario}}</h1>
		<div> 
			seu e-id está {{eidAtivo()}}
		</div>
	</div>
</div>