<div ng-controller="LoginCtrl" data-ng-init="isUsuarioLogadoLogin()" class="jumbotron login">
	<div class="logo">
		<img class="img-responsive" ng-src="images/logo.png" alt="E-ID"> 
	</div>
	<h4 class="login subtitle">SUA IDENTIDADE DIGITAL</h4>
	<div class="alert alert-success alert-dismissible" ng-show="msgSucesso">
		<button type="button" class="close" ng-click="fechaMsgSucesso()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Sucesso!</strong> {{msgSucesso}}.
	</div>
	<div class="alert alert-danger alert-dismissible" ng-show="msgErro">
		<button type="button" class="close" ng-click="fechaMsgErro()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Erro!</strong> {{msgErro}}.
	</div>
	<div class="alert alert-warning alert-dismissible" role="alert" ng-show="loginForm.deEmail.$error.required && loginForm.deEmail.$dirty">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Aviso!</strong> O campo email é obrigat&oacute;rio.
	</div>
	<div class="alert alert-warning alert-dismissible" role="alert" ng-show="loginForm.deSenha.$error.required && loginForm.deSenha.$dirty" >
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Aviso!</strong> O campo senha é obrigat&oacute;rio.
	</div>
	<div class="alert alert-danger alert-dismissible" role="alert" ng-show="loginForm.deEmail.$error.pattern">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Erro!</strong> O formato do email &eacute; exemplo@email.com.
	</div>
	<div class="alert alert-danger alert-dismissible" role="alert" ng-show="loginForm.deSenha.$error.pattern">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Erro!</strong> A senha deve conter até 6 caracteres.
	</div>
	<form name="loginForm" ng-submit="login()" novalidate>
		<div class="form-control form-container">
			<div class="input-group input-group-lg input">
  				<span class="input-group-addon label" id="email-addon">EMAIL:</span>
				<span class="span-input">
					<input name="deEmail" class="form-control form-input" type="email" ng-required="true" ng-model-options="{updateOn: 'blur'}" ng-pattern="emailValidateRegex" ng-model="usuario.deEmail" aria-describedby="email-addon"/>
				</span>
			</div>
			<div class="input-group input-group-lg input">
  				<span class="input-group-addon label" id="senha-addon">SENHA:</span> 
				<span class="span-input">
					<input name="deSenha" class="form-control form-input" type="password" ng-pattern="senhaValidateRegex" ng-required="true" ng-model="usuario.deSenha" aria-describedby="senha-addon"/>
					<button class="btn btn-ok" ng-disabled="loginForm.$invalid" type="submit">
						<i>
							ok
						</i>
					</button>
				</span>
			</div>
		</div>
	</form>
	<div class="form-control form-container">
		<button class="btn btn-block btn-conta" ng-click="paraCriacaoPerfil()">
			Criar Conta
		</button>
	</div>
	<div class="form-control form-container">
		<a class="link" ng-click="enviaTokenSenha()">
			ESQUECI MINHA SENHA
		</a>
	</div>
</div>