<div ng-controller="PerfilCtrl" class="jumbotron">
	<div class="avatar">
		<label class="no-avatar" for="file-input" ng-show="avatar">
			<img class="no-avatar-img" ng-src="images/user-avatar-overlap.png" />
			<img class="no-avatar avatar" ngf-src="avatar" alt="Avatar">
		</label>
		<label class="no-avatar" for="file-input" ng-show="!avatar">
			<img class="no-avatar-img" ng-src="images/avatar-overlap.png" />
			<div class="no-avatar msg">Envie sua foto</div>
		</label>
		<input id="file-input" name="deAvatar" ngf-select="" ngf-accept="'image/*'" ngf-resize="{width: 80, height: 80, centerCrop: true}" type="file" style="width:0; height: 0" ng-model="avatar"></input>
		<div class="info">
			Envie suas informa&ccedil;&otilde;es
		</div>
	</div>
	<div class="alert alert-success alert-dismissible" ng-show="msgSucesso">
		<button type="button" class="close" ng-click="fechaMsgSucesso()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Sucesso!</strong> {{msgSucesso}}.
	</div>
	<div class="alert alert-error alert-dismissible" ng-show="msgErro">
		<button type="button" class="close" ng-click="fechaMsgErro()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Erro!</strong> {{msgErro}}.
	</div>
	<div class="alert alert-warning alert-dismissible" role="alert" ng-show="perfilForm.deEmail.$error.required && perfilForm.deEmail.$dirty">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Aviso!</strong> O campo email é obrigat&oacute;rio.
	</div>
	<div class="alert alert-warning alert-dismissible" role="alert" ng-show="perfilForm.deSenha.$error.required && perfilForm.deSenha.$dirty" >
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Aviso!</strong> O campo senha é obrigat&oacute;rio.
	</div>
	<div class="alert alert-warning alert-dismissible" role="alert" ng-show="perfilForm.nmUsuario.$error.required && perfilForm.nmUsuario.$dirty" >
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Aviso!</strong> O campo nome é obrigat&oacute;rio.
	</div>
	<div class="alert alert-warning alert-dismissible" role="alert" ng-show="perfilForm.nuRg.$error.required && perfilForm.nuRg.$dirty" >
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Aviso!</strong> O campo RG é obrigat&oacute;rio.
	</div>
	<div class="alert alert-danger alert-dismissible" role="alert" ng-show="perfilForm.deSenha.$error.pattern">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Erro!</strong> A senha deve conter 6 caracteres entre digitos e letras.
	</div>
	<div class="alert alert-danger alert-dismissible" role="alert" ng-show="perfilForm.deEmail.$error.pattern">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Erro!</strong> O formato do email &eacute; exemplo@email.com.
	</div>
	<form name="perfilForm" ng-submit="salvarUsuario()" novalidate>
		<div class="form-control form-container container">
			<div class="input-group input-group-lg info-container" ng-show="usuario.eid.nuEid">
				<h4>n&uacute;mero e-id: {{usuario.eid.nuEid}}</h4>
			</div>
			<div class="input-group input-group-lg input-minor">
				<span class="input-group-addon label" id="senha-addon">SENHA:</span>
				<span class="span-input">
					<input name="deSenha" class="form-control form-input" type="password" ng-model-options="{updateOn: 'blur'}" ng-pattern="senhaValidateRegex" ng-required="true" ng-model="usuario.deSenha" aria-describedby="senha-addon"/>
				</span>
			</div>
			<div class="input-group input-group-lg input-minor">
				<span class="input-group-addon label" id="nome-addon">NOME:</span>
				<span class="span-input">
					<input name="nmUsuario" class="form-control form-input" type="text" ng-required="true" ng-model="usuario.nmUsuario" aria-describedby="nome-addon"/>
				</span>
			</div>
			<div class="input-group input-group-lg input-minor">
				<span class="input-group-addon label" id="tel-addon">TEL:</span>
				<span class="span-input">
					<input name="nuTelefone" ui-mask="{{telMask}}" class="form-control form-input" type="text" ng-model="usuario.nuTelefone" aria-describedby="tel-addon"/>
				</span>
			</div>
			<div class="input-group input-group-lg input-minor">
				<span class="input-group-addon label" id="email-addon">EMAIL:</span>
				<span class="span-input">
					<input name="deEmail" class="form-control form-input" type="email" ng-required="true" ng-model-options="{updateOn: 'blur'}" ng-pattern="emailValidateRegex" ng-model="usuario.deEmail" aria-describedby="email-addon"/>
				</span>
			</div>
			<div class="input-group input-group-lg input-minor">
				<span class="input-group-addon label" id="rg-addon">RG:</span>
				<span class="span-input">
					<input name="deRg" ui-mask="{{rgMask}}" class="form-control form-input" type="text" ng-required="true" ng-model="usuario.deRg" aria-describedby="rg-addon"/>
				</span>
			</div>
		</div>
		<div class="form-control form-container">
			<input type="submit" ng-disabled="perfilForm.$invalid" class="btn btn-block btn-conta" value="Salvar informa&ccedil;&otilde;es"/>
		</div>
	</form>
</div>