<div ng-controller="PessoaCtrl" class="jumbotron">
	<form name="pessoasForm" class="eid-usuarios" ng-model-options="{ getterSetter: true }" novalidate>
		<h1>E-ids</h1>
		<br>
		<div ng-repeat="pessoa in pessoas | filter: busca.criterio">
			<hr>
			<div>
				<span style="width:40px;" ng-bind="pessoa.eid.nuEid"></span>
				<span style="text-align: left;">{{pessoa.passagensCadastradas.length > 0 ? pessoa.passagensCadastradas.length : ''}}</span>
				<span style="text-align: center;" ng-bind="pessoa.nmUsuario | nomefilter: 0: 20"></span>
				<span style="text-align: right">
					<a ng-href="#/pessoa/{{pessoa.cdPessoa}}">
						<img src="images/eid-editar.png" title="Editar" alt="Editar"/>
					</a>
					<a ng-click="deletarPessoa(pessoa)">
						<img src="images/eid-deletar.png" title="Deletar" alt="Deletar"/>
					</a>
				</span>
			</div>
		</div>
		<hr>
	</form>
</div>