<div ng-controller="PessoaCtrl" class="jumbotron">
	<form name="pessoaForm" class="eid-usuarios" ng-model-options="{ getterSetter: true }" novalidate>
		<h1>E-ids</h1>
		<br>
		<hr>
		<div>
			<span style="width:40px;" ng-bind="pessoa.eid.nuEid"></span>
			<span style="text-align: left;">{{pessoa.passagensCadastradas.length > 0 ? pessoa.passagensCadastradas.length : ''}}</span>
			<span style="text-align: center;" ng-bind="pessoa.nmUsuario | nomefilter: 0: 20"></span>
			<span style="text-align: right">
				<a ng-href="#/pessoa/{{pessoa.cdPessoa}}">
					<img src="images/eid-editar.png" title="Editar" alt="Editar"/>
				</a>
				<a ng-click="deletarPessoa(pessoa)">
					<img src="images/eid-deletar.png" title="Deletar" alt="Deletar"/>
				</a>
			</span>
		</div>
		<hr>
		<div>
			<b>email:</b><p ui-mask="{{getIdentMask()}}" ng-bind="pessoa.nuIdentidade" ></p>
		</div>
		<hr>
		<div>
			<b>tel:</b><p ui-mask="{{telMask}}" ng-bind="pessoa.nuTelefone" ></p>
		</div>
		<hr>
		<div ng-repeat="passagem in pessoa.passagensCadastradas">
			<b>{{$index + ' ' + passagem.nmEidBox}}</b>
		</div>
		<hr>
		<div>
			<a ng-href="#pessoa/acessos/terceiros/{{pessoa.eid.nuEid}}">
			hist&oacute;rico de acessos<br>
			liberados para terceiros
			</a>
		</div>
		<hr>
		<div>
			<a ng-href="#pessoa/acessos/{{pessoa.eid.nuEid}}">
			hist&oacute;rico de acessos pessoais
			</a>
		</div>
		<hr>
	</form>
</div>